.nav {
  display: flex;
  align-items: center;
  position: fixed;
  display: flex;
  justify-content: inline-block;
  width: 100%;
  height: 90px;
  background: rgb(244, 238, 226);
}

.btnCreate {
  width: 100px;
  height: 50px;
  font-size: medium;
  align-items: end;
  justify-content: right;
  color: bisque;
  cursor: pointer;
  border-color: bisque;
}

.btnJoin {
  width: 100px;
  height: 50px;
  font-size: medium;
  align-items: end;
  justify-content: right;
  color: bisque;
  cursor: pointer;
  border-color: bisque;
}

.refresh {
  width: 100px;
  height: 50px;
  font-size: medium;
  align-items: end;
  justify-content: right;
  color: bisque;
  cursor: pointer;
  border-color: bisque;
}

.btnJoin:hover {
  width: 110px;
  height: 60px;
  color: bisque;
  cursor: pointer;
  border-color: rgb(22, 116, 238);
  border-width: 5px;
}

.btnCreate:hover {
  width: 110px;
  height: 60px;
  color: bisque;
  cursor: pointer;
  border-color: rgb(22, 116, 238);
  border-width: 5px;
}

.refresh:hover {
  width: 110px;
  height: 60px;
  color: bisque;
  cursor: pointer;
  border-color: rgb(22, 116, 238);
  border-width: 5px;
}

.nerdle {
  display: grid;
  place-items: center;
  width: 100%;
  height: 600px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid var(--empty);
  margin: 4px;
  color: beige;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  /* font fam maybe here */
  font-size: 2.4rem;
}

.box.empty {
  background: rgb(184, 185, 181);
}

.box.right {
  background: rgb(30, 138, 240)
}

.box.wrong {
  background: rgb(112, 28, 28);
}